*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root{
    --blue: rgb(137, 207, 240);
    --darker-blue: rgb(87, 144, 170);
    --purple: (#DDA0DD);
    --white: (#ffffff);
    --black: (#000000);
    --semi-black: (#222222);
    --background: (#FAFAFA);
    --big-font:4.2rem;
    --h2-font:2.2rem;
    --p-font:1rem;
}

header{
    position:fixed;
    right:0;
    left:0;
    width:100%;
    z-index:1000;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding:20px 15px;
    border-bottom: 1px solid  var(--blue);
}

.logo {
    display: flex;
    flex-basis: 38%;
    color: var(--semi-black);
    font-family: Campton;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}

.logo>span {
    color: var(--blue);
    font-family: Campton;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}

#navbar{
    display:flex;
}

#navbar a{
    font-size:var(--p-font);
    color: var(--semi-black);
    font-weight: 400;
    padding:10px 25px;
    margin: 0 5px;
    background:red;
}