:root {
    --blue: rgb(137, 207, 240);
    --darker-blue:rgb(87, 144, 170);
    --purple: (#DDA0DD);
    --white: (#ffffff);
    --black: (#000000);
    --semi-black: (#222222);
    --background: (#FAFAFA);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #8EC5FC;
        background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

#container {
    position:relative;
    width:90%;
    height:100vh;
    display: flex;
    margin: 0 auto;
    border: none;
    border-radius: 12px;
    background-color: white !important;
}
.side{
    position:relative;
    width:40%;
    color:rgb(29, 8, 8) !important;
    height:100%;

}
.side img{
    position:absolute;
    top:150px;
    left:40px;
    width:100%;
    height:50%;
    object-fit: cover;
}

.sign-up-form{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    width:50%;
    height:100%;
}

.sign-up-form .form-box{
    width:50%;
}
 .form-box h2{
    color:var(--semi-black);
    font-weight:600;
    font-size:1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-left:100px;
    border-bottom: 4px solid var(--blue);
    display: inline-block;
    letter-spacing: 1px;
}
.sign-up-form .form-box .input-box{
    margin-bottom: 20px;
}

.sign-up-form .form-box .input-box span{
    font-size:16px;
    margin-bottom: 5px;
    display:inline-block;
    color:#413b3b;
    font-weight: 300;
    letter-spacing: 1px;
}
.sign-up-form .form-box .input-box input{
    width:100%;
    padding:10px 20px;
    outline:none;
    font-weight: 400;
    border:1px solid rgb(212, 185, 185);
    letter-spacing:1px;
    color:var(--semi-black);
    background: transparent;
    border-radius: 10px;
}
.sign-up-form .form-box .input-box input[type="submit"]{
    background: var(--blue);
    color:#000000;
    outline:none;
    border:none;
    font-weight: 500;
    cursor: pointer;
}

.sign-up-form .form-box .input-box input[type="submit"]:hover{
    background: rgb(161, 161, 199);
}

.remember{
    margin-bottom:10px;
    color:#222222;
    font-weight: 400;
    font-size:14px;
}

.input-box p{
    color:#222222;

}

.input-box p a{
    color: rgb(75, 75, 148);
}

@media (max-width: 768px) {
    .side{
        display: none;
    }
    .sign-up-form, .form-box {
        height: auto;
        width:70%;
    }
}