:root {
    --blue: rgb(137, 207, 240);
    --darker-blue:rgb(87, 144, 170);
    --purple: (#DDA0DD);
    --white: (#ffffff);
    --black: (#000000);
    --semi-black: (#222222);
    --background: (#FAFAFA);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: var(--darker-blue);
}

#container {
    max-width: 350px;
    margin: 0 auto;
    margin-top: 30vh;
    margin-bottom: 30vh;
    background-color: gold;
    border: 3px solid #ff1493;
    padding: 55px;
    border-radius: 12px;
    background-color: #f081bc;
    background: rgba(0, 0, 0, 0.5);
}